 <!-- ======= Hero Section ======= -->
 <section id="hero" >
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background: url(assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>XGeN</span></h2>
              <p class="animate__animated animate__fadeInUp">
                XGeN aims to offer an easy fulfilling experience, It helps you make exams in no time and only by a press of a button.
                Start now and try it for yourself!
                </p>
              <a href="#team" class="btn-get-started animate__animated animate__fadeInUp">Start now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<section id="featured" class="featured">
  <div class="container">

    <div class="row">
      <div class="col-lg-4">
        <div class="icon-box">
          <!-- <i class="bi bi-card-checklist"></i> -->
          <img src="assets/upload.png" height="95" width="100" alt="">
          <h3>Upload PDF or enter text</h3>
          <p>After uploading a document or text we preprocess it to return important topics</p>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <!-- <i class="bi bi-bar-chart"></i> -->
          <img src="assets/keyword.png" height="95" width="100" alt="">
          <h3>Choose Topics & Questions count</h3>
          <p>
            After uploading you will choose from topics available or enter topics, You will also choose how many Wh-questions , MCQ , Boolean and true or false you want
          </p>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="icon-box">
           <!-- <i class="bi bi-bar-chart"></i> -->
           <img src="assets/exam1.png" height="95" width="100" alt="">
          <h3>Show and print exam</h3>
          <p>The exam Questions and answers will be displayed and you will be able to download them as a PDF</p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Featured Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/plain.png" alt="">

              <form [formGroup]="this.TextForm">
                <div class="form-group">
              <label id = "normal" for="exampleFormControlTextarea1" class="form-label">Please enter text to generate exam</label>
              <textarea formControlName="Text" class="form-control"  id="exampleFormControlTextarea1" rows="10"></textarea>
              <p class="lead" style="padding: 10px;">
                 <!--LOADER-->
                 <div class="d-flex justify-content-center" *ngIf="isLoadingText" style="margin-bottom: 10px;">
                  <div class="spinner-border" role="status" >
                    <span class="sr-only" id="loading"></span>
                  </div>
                </div>
                <!--END LOADER-->
                <!--<a class="btn btn-primary btn-lg" href="#" (click)="SendText()" role="button">Generate</a></p>-->
                <button type="button"
                style="color: black; background-color: #f7d5ae; "
                [disabled]="TextForm.invalid"

                (click)="SendText($event.target, 'Loading')"
                class="btn btn-default">Generate</button>

              </div>
              </form>
              <p style="color:white">
                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut autc;nxn lnlxcnklknkln
              </p>

            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/pdf.png" alt="">


                <div class="form-group">
                  <label id="normal"  for="formFile" class="form-label">OR upload PDF</label>
                  <br>

                 <!--  --> <div  class="in">
           <!--       <input ng2FileSelect type="file" accept=".pdf" [uploader]="uploader"/>-->

           <div class="form-group" style="padding-top: 40px;" [formGroup]="this.PDFForm">

            <label for="file" id="normal">Choose File</label>
            <br>
            <input type="file" id="file" (change)="handleFileInput($event)">
            <div class="flatten">
            <label id="normal" for="bottom"> Choose start and end pages (optional): </label>
            <div class="inputs" style="display:flex; flex-direction: row" >
                    <label for="start" style="margin-top: 7px;" > start: </label>
                   <input type="number" min="0" formControlName="start" class="form-control"  id="in" >
                  <div class="empty"></div>
                   <label for="end"  style="margin-top: 7px;"> end: </label>
                   <input type="number" min="0" formControlName="end" class="form-control"  id="in" >
                  </div>
            </div>

        </div>
                </div>

                <div  class="rapper">
                  <!--LOADER-->
                  <div class="d-flex justify-content-center" *ngIf="isLoadingPDF" style="margin-bottom: 10px;">
                    <div class="spinner-border" role="status" >
                      <span class="sr-only" id="loading"></span>
                    </div>
                  </div>
                  <!--END LOADER-->
                <!--<a class="btn btn-primary btn-lg" href="#" (click)="SendText()" role="button">Generate</a></p>-->
                <button type="button"
                style="color: black; background-color: #f7d5ae; "
                [disabled]="!Allow"
                (click)="uploadFileToActivity($event.target, 'Loading')"
                class="btn btn-default">Generate</button>
              </div>
              </div>


<!--
              <button type="button"
              style="color: black;"
              (click)="getTopics()"
              class="btn btn-outline-dark">Generate</button> -->


              <div class="social">

              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->



